name: Run static checks and unit tests

on:
  push:
    branches:
      - main
      - v*
  pull_request:
    branches:
    - main
    - v*

jobs:
  main:
    strategy:
      matrix:
        go-version: ["1.24", "1.25"]
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Build
      run: make
    - name: Run static checks
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        # renovate: datasource=github-releases depName=golangci/golangci-lint
        version: v2.7.2
        args: --config=.golangci.yml --verbose
        skip-cache: true
    - name: Check module tidiness
      run: |
        go mod tidy -compat=1.24
        go mod verify
        test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy -compat=1.24', and commit your changes"; exit 1)
    - name: Run unit tests
      run: make test
  cmd:
    strategy:
      matrix:
        go-version: ["1.24", "1.25"]
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Build
      working-directory: ./cmd
      run: make
    - name: Run static checks
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        working-directory: ./cmd
        # renovate: datasource=github-releases depName=golangci/golangci-lint
        version: v2.7.2
        args: --config=../.golangci.yml --verbose
        skip-cache: true
    - name: Check module tidiness
      working-directory: ./cmd
      run: |
        go mod tidy -compat=1.24
        go mod verify
        test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy -compat=1.24', and commit your changes"; exit 1)
    - name: Run unit tests
      working-directory: ./cmd
      run: make test
  flow:
    strategy:
      matrix:
        go-version: ["1.24", "1.25"]
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Build
      working-directory: ./flow
      run: make
    - name: Run static checks
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        working-directory: ./flow
        # renovate: datasource=github-releases depName=golangci/golangci-lint
        version: v2.7.2
        args: --config=../.golangci.yml --verbose
        skip-cache: true
    - name: Check module tidiness
      working-directory: ./flow
      run: |
        go mod tidy -compat=1.24
        go mod verify
        test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy -compat=1.24', and commit your changes"; exit 1)
    - name: Run unit tests
      working-directory: ./flow
      run: make test
