name: Run static checks and unit tests

on:
  push:
    branches:
      - main
      - v*
  pull_request:
    branches:
    - main
    - v*

jobs:
  main:
    strategy:
      matrix:
        go-version: ["1.24", "1.25"]
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    - name: Build
      run: make
    - name: Run static checks
      uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47
      with:
        version: v2.4.0
        args: --config=.golangci.yml --verbose
        skip-cache: true
    - name: Check module tidiness
      run: |
        go mod tidy -compat=1.24
        go mod verify
        test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy -compat=1.24', and commit your changes"; exit 1)
    - name: Run unit tests
      run: make test
  cmd:
    strategy:
      matrix:
        go-version: ["1.24", "1.25"]
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    - name: Build
      working-directory: ./cmd
      run: make
    - name: Run static checks
      uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47
      with:
        working-directory: ./cmd
        version: v2.4.0
        args: --config=../.golangci.yml --verbose
        skip-cache: true
    - name: Check module tidiness
      working-directory: ./cmd
      run: |
        go mod tidy -compat=1.24
        go mod verify
        test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy -compat=1.24', and commit your changes"; exit 1)
    - name: Run unit tests
      working-directory: ./cmd
      run: make test
  flow:
    strategy:
      matrix:
        go-version: ["1.24", "1.25"]
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    - name: Build
      working-directory: ./flow
      run: make
    - name: Run static checks
      uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47
      with:
        working-directory: ./flow
        version: v2.4.0
        args: --config=../.golangci.yml --verbose
        skip-cache: true
    - name: Check module tidiness
      working-directory: ./flow
      run: |
        go mod tidy -compat=1.24
        go mod verify
        test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy -compat=1.24', and commit your changes"; exit 1)
    - name: Run unit tests
      working-directory: ./flow
      run: make test
