name: Run static checks and unit tests

on:
  push:
    branches:
      - main
      - v*
  pull_request:
    branches:
    - main
    - v*

jobs:
  main:
    strategy:
      matrix:
        go-version: ["1.20", "1.21"]
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608
    - name: Build
      run: make
    - name: Run static checks
      uses: golangci/golangci-lint-action@3a919529898de77ec3da873e3063ca4b10e7f5cc
      with:
        version: v1.54.2
        args: --config=.golangci.yml --verbose --out-${NO_FUTURE}format colored-line-number
        skip-cache: true
    - name: Check module tidiness
      run: |
        go mod tidy -compat=1.19
        go mod verify
        test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy -compat=1.19', and commit your changes"; exit 1)
    - name: Run unit tests
      run: make test
  cmd:
    strategy:
      matrix:
        go-version: ["1.20", "1.21"]
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608
    - name: Build
      working-directory: ./cmd
      run: make
    - name: Run static checks
      uses: golangci/golangci-lint-action@3a919529898de77ec3da873e3063ca4b10e7f5cc
      with:
        working-directory: ./cmd
        version: v1.54.2
        args: --config=../.golangci.yml --verbose --out-${NO_FUTURE}format colored-line-number
        skip-cache: true
    - name: Check module tidiness
      working-directory: ./cmd
      run: |
        go mod tidy -compat=1.19
        go mod verify
        test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy -compat=1.19', and commit your changes"; exit 1)
    - name: Run unit tests
      working-directory: ./cmd
      run: make test
  flow:
    strategy:
      matrix:
        go-version: ["1.20", "1.21"]
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608
    - name: Build
      working-directory: ./flow
      run: make
    - name: Run static checks
      uses: golangci/golangci-lint-action@3a919529898de77ec3da873e3063ca4b10e7f5cc
      with:
        working-directory: ./flow
        version: v1.54.2
        args: --config=../.golangci.yml --verbose --out-${NO_FUTURE}format colored-line-number
        skip-cache: true
    - name: Check module tidiness
      working-directory: ./flow
      run: |
        go mod tidy -compat=1.19
        go mod verify
        test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy -compat=1.19', and commit your changes"; exit 1)
    - name: Run unit tests
      working-directory: ./flow
      run: make test
